    데이터 전처리
        ↓
    데이터 세트 분리
        ↓
    모델 학습 및 검증 평가
        ↓
    예측 수행
        ↓
    예측 평가

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [7]:
iris = load_iris()

# sklearn 패키지에서 붓꽃(iris) 데이터를 기져온다.
iris_data = iris.data
# 붓꽃의 특성을 가져온다.
iris_label = iris.target
# 븟꽃의 품종을 가져온다.

iris_df = pd.DataFrame(data = iris_data, columns = iris.feature_names)

# DataFrame을 생성한 이후에 target 값들을 'label'이라는 새로운 열을 만들어 넣는다.
iris_df['label'] = iris.target

iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [9]:
iris = load_iris()

iris_x = iris_data
iris_y = iris.target

iris_df = pd.DataFrame(iris_x, columns = iris.feature_names)
iris_df['species'] = iris_y

iris_df.tail(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [12]:
import numpy as np

array = np.array([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])

unique_values, counts = np.unique(array, return_counts = True)

for value, count in zip(unique_values, counts):
    print(f'value {value} appears {count} times')

value 1 appears 1 times
value 2 appears 2 times
value 3 appears 3 times
value 4 appears 4 times