In [68]:
a = 5
b = 3
s = a + b
print(s)

8

In [82]:
name = input('이름 : ')

print(f'{name}님 안녕하세요')

이름 : 김지우
김지우님 안녕하세요

In [17]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [7]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [80]:
a = 'Hello, World!'
a[::-1]

'!dlroW ,olleH'

In [18]:
a = int(input('숫자1 : '))
b = int(input('숫자2 : '))

print(a * b)

숫자1 : 3
숫자2 : 3
9

In [11]:
a = [1, 2, 3, 4, 5]
a[2]

3

In [79]:
a = [1, 2, 3, 4, 5]
print(a[0]+a[1]+a[2]+a[3]+a[4])

15

In [36]:
for i in range(3):
    print('python')

python
python
python

In [73]:
a = 3
b = 5
c = a / b
type(c)

float

In [83]:
type(name)

str

In [85]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [94]:
sum = 0
for i in range(1, 11):
    if i % 2 == 1:
        sum += i
print(f"홀수의 합은 {sum} 입니다")

홀수의 합은 25 입니다

In [97]:
sum1 = 0
sum2 = 0
for i in range(1, 11):
    if i % 2 == 0:
        sum1 += i
    else:
        sum2 += i
print(f'짝수의 합은 {sum1} 입니다')
print(f'홀수의 합은 {sum2} 입니다')

짝수의 합은 30 입니다
홀수의 합은 25 입니다

In [101]:
sum1 = 0
sum2 = 0
sum3 = 0
for i in range(1, 11):
    if i % 3 == 0:
        sum1 += i
    elif i % 3 == 1:
        sum2 += i
    else:
        sum3 += i
print(f'나머지 0의 합은 {sum1} 입니다')
print(f'나머지 1의 합은 {sum2} 입니다')
print(f'나머지 2의 합은 {sum3} 입니다')

나머지 0의 합은 18 입니다
나머지 1의 합은 22 입니다
나머지 2의 합은 15 입니다

In [111]:
ls = [1, 2, 3, 4, 5]

for i in ls:
    print(i, end = ':')

1:2:3:4:5:

In [112]:
reverse = ls[::-1]
reverse

[5, 4, 3, 2, 1]

In [114]:
print(ls[0] + ls[1] + ls[2] + ls[3] + ls[4])

15

In [113]:
type(ls)

list

In [119]:
a = 'hello world'
b = "hello world"
c = """hello world
"""

In [120]:
a

'hello world'

In [121]:
b

'hello world'

In [122]:
c

'hello world\n'