In [7]:
a = 5
b = 3
s = a + b
print(s)

8

In [8]:
name = input('이름 : ')

print(f'{name}님 안녕하세요')

이름 : 김지우
김지우님 안녕하세요

In [9]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [10]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [11]:
a = 'Hello, World!'
a[::-1]

'!dlroW ,olleH'

In [12]:
a = int(input('숫자1 : '))
b = int(input('숫자2 : '))

print(a * b)

숫자1 : 3
숫자2 : 3
9

In [13]:
a = [1, 2, 3, 4, 5]
a[2]

3

In [14]:
a = [1, 2, 3, 4, 5]
print(a[0]+a[1]+a[2]+a[3]+a[4])

15

In [15]:
for i in range(3):
    print('python')

python
python
python

In [16]:
a = 3
b = 5
c = a / b
type(c)

float

In [17]:
type(name)

str

In [18]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [19]:
sum = 0
for i in range(1, 11):
    if i % 2 == 1:
        sum += i
print(f"홀수의 합은 {sum} 입니다")

홀수의 합은 25 입니다

In [20]:
sum1 = 0
sum2 = 0
for i in range(1, 11):
    if i % 2 == 0:
        sum1 += i
    else:
        sum2 += i
print(f'짝수의 합은 {sum1} 입니다')
print(f'홀수의 합은 {sum2} 입니다')

짝수의 합은 30 입니다
홀수의 합은 25 입니다

In [21]:
sum1 = 0
sum2 = 0
sum3 = 0
for i in range(1, 11):
    if i % 3 == 0:
        sum1 += i
    elif i % 3 == 1:
        sum2 += i
    else:
        sum3 += i
print(f'나머지 0의 합은 {sum1} 입니다')
print(f'나머지 1의 합은 {sum2} 입니다')
print(f'나머지 2의 합은 {sum3} 입니다')

나머지 0의 합은 18 입니다
나머지 1의 합은 22 입니다
나머지 2의 합은 15 입니다

In [22]:
ls = [1, 2, 3, 4, 5]

for i in ls:
    print(i, end = ':')

1:2:3:4:5:

In [23]:
reverse = ls[::-1]
reverse

[5, 4, 3, 2, 1]

In [24]:
print(ls[0] + ls[1] + ls[2] + ls[3] + ls[4])

15

In [25]:
type(ls)

list

In [26]:
a = 'hello world'
b = "hello world"
c = """hello world
"""

In [27]:
a

'hello world'

In [28]:
b

'hello world'

In [29]:
c

'hello world\n'

In [41]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} X {j} = {i * j}')
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81