In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [17]:
a = int(input('단 '))
for i in range(1, 10):
    print(f'{num} X {i} = {num * i}')
print()

단3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [12]:
num = int(input('숫자를 입력하세요 : '))

if num > 1:
    for i in range(2, num // 2 + 1):
        if num % i == 0:
            print(f'{num} 은(는) 소수가 아닙니다.')
            break
    else:
        print(f'{num} 은(는) 소수입니다.')
else:
    print(f'{num} 은(는) 소수가 아닙니다.')

숫자를 입력하세요 : 3
3 은(는) 소수입니다.

In [14]:
def add(a, b):
    return a + b

add(1, 2)

3

In [16]:
def sub(a, b):
    return a - b

sub(1, 2)

-1

In [28]:
def cal(ca, a, b):
    if ca == '+':
        return a + b
    elif ca == '-':
        return a - b
    else:
        return False
cal('+', 1, 2)

3

In [29]:
a = 1
def vartest():
    global a
    a += 1
    return a

vartest()

2

In [30]:
add = lambda a, b : a + b
result = add(3, 4)
result

7

In [33]:
f = open('hello.txt','w')

for i in range(1, 11):
    data = '%d 번째 줄입니다 \n' % i
    f.write(data)
f.close()